# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ============ #
# Custom #
# ============ #
APKOutput/
AssetOutput/BuildReport/
AssetOutput/Package/
AssetOutput/Working/
/GF_3_1_3_Demo/.vs
/GF_3_1_3_Demo/Logs
/GF_3_1_3_Demo/.vsconfig
/GF_3_1_3_Demo/Library
/GF_3_1_3_Demo/Logs
/GF_3_1_3_Demo/obj
/GF_3_1_3_Demo/Temp
/GF_3_1_3_Demo/.vs/config
/GF_3_1_3_Demo/.vs/config
